html, body {
	margin: 0;
	background: #3b3f47;
}

.main {
	height: 100%;
	width: 100%;
}

.container {
	margin: 20px auto;
	margin-bottom: 0;
	width: 1280px;
	padding: 0;
	background: #fff;
}

.header_up {
	height: 26px;
	background: #3b3f47;
	padding-bottom: 5px;
}

.header_up_left {
	float: left;
	display: inline-block;
	color: #fff;
	font-family: Arial;
	font-size: 12px;
	padding-left: 10px;
	padding-top: 10px;
}

.header_up_orange {
	display: inline-block;
	color: #fff;
	font-family: Arial;
	font-size: 10px;
	float: left;
	margin-left: -195px;
	padding: 10px;
	background: #ff9c00;
	font-weight: bold;
	z-index: 10;
	position: relative;
}

.header_main {
	height: 100px;
	list-style: none;
}

.header_main li {
	display: inline-block;
}

.header_logo {
	width: 130px;
	height: 51px;
	background: url("../img/main_logo.png");
	margin: 30px 10px 0 20px;
}

.delimer {
	background: url("../img/delimer.png");
	width: 2px;
	height: 64px;
	margin-left: 30px;
}

.menu_item {
	vertical-align: top;
	margin-top: 40px;
}

.menu_item a {
	color: #666;
	margin: 0 30px;
	font-family: Arial;
	text-decoration: none;
	font-size: 14px;
}

.menu_item a:hover {
	text-shadow: 1px 1px 10px #87ceeb;
}

.menu_item .current {
	background: url("../img/arrow.png") no-repeat 0px 6px;
	padding-left: 5px;
	display: block;
	color: #378dc4;
}

.social {
	width: 200px;
	height: 75px;
	padding-top: 30px;
	vertical-align: top;
}

.social ul li {
	background: url("../img/soc_circle.png") no-repeat;
	margin-right: 10px;
	width: 32px;
	height: 31px;
}

.twitter {
	background: url("../img/twitter.png") no-repeat;
	width: 100%;
	height: 100%;
	margin: 7px 0 0 10px;
}

.facebook {
	background: url("../img/facebook.png") no-repeat;
	width: 100%;
	height: 100%;
	margin: 5px 0 0 10px;
}

.vkontakte {
	background: url("../img/vkontakte.png") no-repeat;
	width: 100%;
	height: 100%;
	margin: 9px 0 0 5px;
}

.question_arrow {
	margin-top: 15px;
	margin-left: 1040px;
	float: left;
	display: block;
	width: 47px;
	height: 48px;
	background: url("../img/question_arrow.png") no-repeat;
}

.galery {
	width: 1150px;
	height: 475px;
	margin-left: 70px;
	background: url("../img/content_bg.png") -60px 0px no-repeat;
}

.footer {
	height: 114px;
	background: url("../img/footer_bg.png") no-repeat;
}

.footer_ul {
	list-style: none;
}

.footer_ul li {
	display: inline-block;
	height: 64px;
	margin: 20px 0 0 80px;
}

.footer_ul li a {
	font-style: italic;
	color: #666;
	font-family: Arial;
	font-size: 12px;
	display: block;
	line-height: 26px;
}

.footer_ul li a:hover {
	text-decoration: underline;
}

.list_1 {
	background: url("../img/list_1.png") 0px 4px no-repeat;
	padding-left: 20px;
	text-decoration: none;
}

.list_2 {
	background: url("../img/list_2.png") 0px 4px no-repeat;
	padding-left: 20px;
	text-decoration: none;
}

.gal_img {
	display: inline-block;
	background: url("../img/gal_bg_1.png") no-repeat;
	width: 842px;
	height: 463px;
}

.gal_menu {
	margin-left: 50px;
	display: inline-block;
	vertical-align: top;
}

.gal_menu li {
	list-style: none;
}

.gal_menu li a {
	color: #333;
	text-decoration: none;
	font-size: 16px;
	line-height: 52px;
	font-family: Arial;
}

.main_center {
	margin-left: 120px;
	margin-top: 20px;
}

.main_center div {
	display: inline-block;
	vertical-align: top;
}

.main_center h1 {
	font-size: 18px;
	color: #666;
	font-style: italic;
}

.main_center p {
	font-size: 14px;
	color: #666;
	font-style: italic;
}

.o_kompanii {
	width: 653px;
}

.partners {
	width: 398px;
}

.del_v_okom {
	background: url("../img/v_okom.png") no-repeat;
	height: 1px;
	width: 653px;
}

.del_v_par {
	background: url("../img/v_par.png") no-repeat;
	height: 1px;
	width: 398px;
}

.v_del {
	background: url("../img/v_del.png") no-repeat;
	height: 147px;
	width: 1px;
	margin-top: 100px;
	margin-left: 10px;
	margin-right: 10px;
}

.par_logo {
	background: url("../img/logo_global.png") no-repeat;
	width: 76px;
	height: 86px;
	margin: 20px;
}

.par_text {
	margin-top: 10px;
	width: 250px;
}

.copyright {
	margin-top: 5px;
	padding: 0;
	background: #3b3f47;
	padding-left: 10px;
}

.copyright li {
	color: #fff;
	list-style: none;
	font-family: Arial;
	font-size: 12px;
	display: inline-block;
}

.technology {
	width: 1150px;
	margin-left: 70px;
}

.technology_left {
	width: 250px;
	height: 242px;
	background: url("../img/man.png") no-repeat;
	margin: 50px 0 0 0;
	display: inline-block;
	vertical-align: top;
}

.technology_right {
	display: inline-block;
	width: 865px;
	margin: 50px 0 50px 20px;
}

.technology_right h1 {
	color: #666;
	font-family: Arial;
	font-size: 16px;
	font-style: italic;
}

.technology_right p {
	color: #666;
	font-family: Arial;
	font-size: 14px;
	font-style: italic;
	margin-bottom: 50px;
}

.tech_menu h1 {
	color: #666;
	font-family: Arial;
	font-style: italic;
	font-size: 16px;
	margin-top: 50px;
	display: inline-block;
}

.tech_undertext_del {
	width: 785px;
	height: 1px;
	background: url("../img/tech_undertext_del.png") no-repeat;
}

.tech_g_del {
	width: 1190px;
	height: 1px;
	background: url("../img/tech_g_del.png") no-repeat;
	margin-left: 50px;
}

.tech_menu_items {
	display: inline-block;
	margin-left: 150px;
}

.tech_menu_items li {
	list-style: none;
	display: inline-block;
	font-family: Arial;
	font-size: 10px;
	font-style: italic;
	border-top: 2px groove #ccc ;
	border-right: 2px groove #ccc ;
	border-left: 2px groove #ccc;
	height: 30px;
	vertical-align: top;
}

.tech_menu_items li a {
	color: #666;
	text-decoration: none;
	vertical-align: middle;
	display: block;
	vertical-align: top;
	height: 35px;
	position: relative;
	margin-top: 5px;
	padding: 5px;
}

.tech_menu_items .current {
	background: #ff9c00;
}

.tech_menu_items .current a {
	color: #fff;
}

.tech_menu_del {
	background: url("../img/techmenu_del.png") no-repeat;
	width: 1190px;
	height: 1px;
	margin-top: -16px;
	margin-left: -20px;
}

.tech_projects {
	margin-top: 50px;
	padding: 0;
}

.tech_projects_img {
	width: 164px;
	height: 164px;
	background: url("../img/tech_projects_img_ex.png") no-repeat;
}

.tech_projects li {
	list-style: none;
	display: inline-block;
	width: 164px;
	margin-right: 5px;
}

.tech_projects h2 {
	color: #666;
	font-family: Arial;
	font-size: 12px;
	text-align: center;
	margin-bottom: 0px;
	font-style: italic;
}

.tech_projects h3 {
	font-style: italic;
	margin-top: 5px;
	color: #ff9c00;
	font-family: Arial;
	font-size: 12px;
	text-align: center;
}

.tech_projects p {
	font-size: 10px;
	margin-bottom: 0;
	text-align: justify;
}

.tech_projects a {
	color: #ff9c00;
	font-size: 10px;
	margin-left: 110px;
}